###############################################################################
# .editorconfig
###############################################################################

# Configure your IDE

# Documentation:
#   http://editorconfig.org/

# top-most EditorConfig file
root = true

# Configurations for all files
[*]
charset                  = utf-8
end_of_line              = lf
indent_size              = 2
indent_style             = space
insert_final_newline     = true
trim_trailing_whitespace = true

# Makefiles
[{Makefile,*.Makefile}]
indent_size  = 4
indent_style = tab

# Python
[*.py]
indent_size = 4

###############################################################################
