include README.rst
include rdk/template/*
include rdk/template/example_ci/*
incldue rdk/template/runtime/*
include rdk/template/runtime/java8/*
include rdk/template/runtime/java8/jars/*
include rdk/template/runtime/java8/src/main/java/com/rdk/*
include rdk/template/runtime/nodejs4.3/*
include rdk/template/runtime/python2.7/*
include rdk/template/runtime/python3.6/*
include rdk/template/runtime/dotnetcore1.0/*
include rdk/template/runtime/dotnetcore1.0/bin/*
include rdk/template/runtime/dotnetcore1.0/obj/*
include rdk/template/runtime/dotnetcore1.0/obj/Debug/*
include rdk/template/runtime/dotnetcore1.0/obj/Release/netcoreapp1.0/*
include rdk/template/runtime/dotnetcore1.0/obj/Release/netcoreapp2.0/*
include rdk/template/runtime/dotnetcore2.0/*
include rdk/template/runtime/dotnetcore2.0/bin/*
include rdk/template/runtime/dotnetcore2.0/obj/*
include rdk/template/runtime/dotnetcore2.0/obj/Debug/*
include rdk/template/runtime/dotnetcore2.0/obj/Release/netcoreapp1.0/*
include rdk/template/runtime/dotnetcore2.0/obj/Release/netcoreapp2.0/*
