[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
bandit = ">=1,<2"
docformatter = ">=1,<2"
gitlint = "<1"
isort= ">=5,<6"
lxml = ">=4,<5"
mdformat = "<1"
mdformat-beautysh = "<1"
mdformat-black = "<1"
mdformat-config = "<1"
mdformat-frontmatter = "<1"
mdformat-toc = "<1"
mkdocs = ">=1,<2"
mkdocs-material = ">=7,<8"
moto = { extras = ["cloudwatch", "sts", "s3"], version = ">=2,<3" }
mypy = "<1"
pdoc = ">=7,<8"
pylint = ">=2,<3"
pylint-json2html = "<1"
pylint-pytest = ">=1,<2"
pytest = ">=6,<7"
pytest-asyncio = "<1"
pytest-console-scripts = ">=1,<2"
pytest-cov = ">=2,<3"
pytest-env = "<1"
pytest-httpx = "<1"
pytest-mock = ">=3,<4"
pytest-reportlog = "<1"
twine = ">=3,<4"
types-aiofiles = "<1"

# pinned to full version since we can't specify pre-releases for a single pkg
# see: https://github.com/pypa/pipenv/issues/1760
black = "==21.7b0"

# This package
rdk = {editable = true, path = "."}

[packages]
# NOTE: If you update this, also update setup.py
aiofiles = "<1"
aws-cdk-lib = ">=2"
constructs = ">=10,<11"
# boto3 = ">=1,<2"
colorlog = ">=4,<5"
httpx = "<1"
mergedeep = ">=1,<2"
pytest = ">=6,<7"
semver = ">=2,<3"

[requires]
python_version = "3.8"
